Repository defnetekyigit/hotel-booking-system: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-hotel-service, run-booking-service, run-search-service, run-api-gateway, run-notification-service

deployment for booking notification
  services/booking-service/package.json
  services/notification-service/package-lock.json
  services/notification-service/package.json
Due: run-booking-service, run-notification-service

notification service update
  services/notification-service/src/pubsub/bookingHandler.ts
  services/notification-service/src/scheduler/reminderHandler.ts
Due: run-notification-service

notification and api gateway deployment
  .circleci/monorepo-pipeline.yml
  services/api-gateway/package.json
Due: run-api-gateway

env setup
  services/api-gateway/src/index.ts
  services/booking-service/src/index.ts
  services/hotel-service/src/index.ts
  services/notification-service/package-lock.json
  services/notification-service/package.json
  services/notification-service/src/index.ts
  services/search-service/src/index.ts
Due: run-hotel-service, run-booking-service, run-search-service, run-api-gateway, run-notification-service

401 error ingress all
  .circleci/monorepo-pipeline.yml
  services/api-gateway/package.json
Due: run-api-gateway

db-health-control
  services/hotel-service/src/index.ts
Due: run-hotel-service

crypto undefined
  services/hotel-service/package-lock.json
  services/hotel-service/package.json
  services/hotel-service/src/services/adminServices.ts
Due: run-hotel-service

room availability updatae
  services/hotel-service/src/services/adminServices.ts
Due: run-hotel-service

notification service env
  services/notification-service/package.json
Due: run-notification-service

notification capacity alert mail
  services/notification-service/src/index.ts
  services/notification-service/src/mail/mailer.ts
  services/notification-service/src/scheduler/capacityAlertHandler.ts
  services/notification-service/src/scheduler/reminderHandler.ts
Due: run-notification-service

search cache pagination
  services/search-service/src/cache/simpleCache.ts
  services/search-service/src/controllers/searchController.ts
  services/search-service/src/services/searchService.ts
Due: run-search-service

dedup mail
  services/notification-service/src/cache/dedupCache.ts
  services/notification-service/src/pubsub/bookingHandler.ts
  services/notification-service/src/scheduler/reminderHandler.ts
Due: run-notification-service

auth me endpoint
  services/api-gateway/src/index.ts
Due: run-api-gateway

frontend first commit
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/api/api.ts
  frontend/src/assets/react.svg
  frontend/src/auth/AdminRoute.tsx
  frontend/src/auth/AuthContext.tsx
  frontend/src/auth/ProtectedRoute.tsx
  frontend/src/auth/authService.ts
  frontend/src/auth/firebase.ts
  frontend/src/components/Header.tsx
  frontend/src/components/PageContainer.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/pages/BookingPage.tsx
  frontend/src/pages/BookingSuccessPage.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/MyBookingsPage.tsx
  frontend/src/pages/SearchPage.tsx
  frontend/src/pages/admin/AdminPage.tsx
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: none

admin pages
  frontend/src/pages/admin/AdminAvailability.tsx
  frontend/src/pages/admin/AdminHotels.tsx
  frontend/src/pages/admin/AdminPage.tsx
  frontend/src/pages/admin/AdminRooms.tsx
Due: none

admin proxy get setup
  services/api-gateway/src/routes/adminProxy.ts
Due: run-api-gateway

bookings proxy
  services/api-gateway/src/routes/proxy.ts
Due: run-api-gateway

my bookings page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/MyBookingsPage.tsx
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  run-hotel-service: any of: services/hotel-service/.*
  run-booking-service: any of: services/booking-service/.*
  run-search-service: any of: services/search-service/.*
  run-api-gateway: any of: services/api-gateway/.*
  run-notification-service: any of: services/notification-service/.*
